.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContainer {
  background: white;
  padding: 2rem;
  width: 25rem;
  max-height: 35rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
  position: relative;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--sec-color);
}

.closeIcon {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--sec-color);
  position: absolute;
  top: 1rem;
  right: 1.3rem;
}

.modalContent {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.leftSection {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.inputRow {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.75rem;
}

.inputGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--pri-black);
}

.inputGroup>div>div:nth-child(1) {
  border: none !important;
  outline: none;
}

.inputGroup>div>div:nth-child(1):focus {
  border: none !important;
  outline: none;
}

.inputField {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  width: 100%;
  height: 2.5rem;
  border-color: var(--pri-black);
}

.inputField>div:nth-child(1) {
  border-color: var(--pri-black) !important;
}

.categoryRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 0.75rem;
}

.radioGroup {
  margin-top: 0.6rem;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  width: 16rem;
  height: 10rem;
  border-radius: 2rem;
}

.uploadBox {
  width: 100%;
  height: 10rem;
  border: 2px dashed #ddd;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.uploadContent {
  text-align: center;
  color: #888;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 0.875rem;
}

.uploadContent>p {
  margin-top: 1rem;
  color: var(--pri-black);
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.modalContent_container {
  overflow: scroll;
  max-height: 30rem;
}

.tableSection {
  margin-top: 2rem;
  border: 1px solid #f5c2c7;
  border-radius: 0.5rem;
  overflow: hidden;
}

.tableSection table {
  width: 100%;
  border-collapse: collapse;
}

.tableSection th,
.tableSection td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #f5c2c7;
}

.tableSection th:not(:first-child) {
  background-color: #fff5f5;
  color: #EE8A92;
}

.tableSection th:hover {
  background-color: #fff5f5;
  color: #EE8A92;
  font-weight: bold;
  text-align: center;
}

.tableSection td:first-child {
  background-color: #fff5f5;
  color: #EE8A92;
  font-weight: bold;
  text-align: left;
}

.tableSection td:first-child:hover {
  background-color: #fff5f5;
  color: #EE8A92;
  font-weight: bold;
  text-align: left;
}

.tableSection td:last-child {
  text-align: center;
  color: #333;
}

.tableSection tr:last-child td {
  border-bottom: none;
}

.modalFooter {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.saveButton {
  color: var(--sec-color);
  background-color: rgba(227, 55, 69, 0.08);
  border: 0.5px solid var(--sec-color);
  padding: 1.2rem 1.5rem;
  font-size: 14px;
  font-weight: 400;
  box-shadow: none;
  border-radius: 0.75rem;
}

.saveButton:hover,
.add_button>button:hover {
  background-color: rgba(227, 55, 69, 0.08) !important;
  border: 0.5px solid var(--sec-color) !important;
  color: var(--sec-color) !important;
}

.add_button>button {
  color: var(--sec-color);
  background-color: rgba(227, 55, 69, 0.08);
  border: 0.5px solid var(--sec-color);
  padding: 1rem 1.3rem;
  font-size: 14px;
  font-weight: 400;
  box-shadow: none;
  border-radius: 0.75rem;
}