.user_info {
  width: 7rem;
  height: 7rem;
  border-radius: 0.5rem;
}

.user_info img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 30rem;
  padding: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 0.7rem;
  box-shadow: 0px 0px 4px 0px #00000040;
}

.header>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.7rem;
  width: 20rem;
}

.inputGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--pri-black);
}

.inputField {
  width: 20rem;
  height: 2.5rem;
  border-color: var(--pri-black);
}

.inputField>div:nth-child(1) {
  border-color: var(--pri-black) !important;
}

.header>div:nth-child(2)>div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.header>div:nth-child(2)>div:nth-child(3)>span:nth-child(1) {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: Inter;
  color: var(--pri-black);
}

.header>div:nth-child(2)>div:nth-child(3)>span:nth-child(2) {
  font-size: 0.7rem;
  font-weight: 500;
  color: #717171;
}

.card {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.3rem;
  width: 35rem;
}

.actions {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  cursor: pointer;
}

.actions svg {
  font-size: 1.5rem;
}

.details {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.subscriber h1 {
  font-size: 1.7rem;
}

.details h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.details>div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
}

.details>div>p:nth-child(1) {
  font-size: 0.8rem;
  font-weight: 400;
  width: 5rem;
}

.details>div>p:nth-child(3) {
  color: #151515;
  font-weight: 500;
  font-size: 0.9rem;
}

.upperDiv {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.dates {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.dates>span:nth-child(1) {
  font-size: 0.9rem;
  color: #444444;
  font-weight: 400;
}

.dates>span:nth-child(2) {
  font-size: 1rem;
  color: #000000;
  font-weight: 500;
}

.calculation_btns {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  width: 20rem;
  margin-top: 2rem;
  height: 3rem;
}

.calculation_btns button {
  width: 8.5rem;
  padding: 1.2rem;
  border-radius: 0.4rem;
}

.activeButton {
  background-color: #e74c3c;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 1rem;
}

.inactiveButton {
  background-color: white;
  color: black;
  font-weight: normal;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 1rem;
}

.activeButton:hover {
  background-color: #e74c3c !important;
  color: white !important;
  border: none !important;
}

.inactiveButton:hover {
  background-color: white !important;
  color: black !important;
  border: 1px solid grey !important;
}

.subscriberTable {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #f8fcf8;
  margin-top: 2rem;
}

.subscriberTable {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #fbe7e6;
  margin-top: 2rem;
  border: none;
}

.subscriberTable .ant-table-thead>tr>th {
  background-color: #F15A5C !important;
  color: white !important;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.75rem;
  text-align: left;
}

.subscriberTable .ant-table-tbody>tr>td {
  background-color: #FFF5F5 !important;
  font-size: 1rem;
  padding: 0.75rem;
  text-align: left;
}

.subscriberTable .ant-table-tbody>tr:hover {
  background-color: #f1f1f1 !important;
}

.customTable .ant-table {
  background: transparent !important;
}

.customTable .ant-table-thead>tr>th {
  background-color: #e74c3c !important;
  color: white !important;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.75rem;
  text-align: left;
}

.customTable .ant-table-tbody>tr>td {
  background-color: #f8fcf8 !important;
  font-size: 1rem;
  padding: 0.75rem;
  text-align: left;
}

.customTable .ant-table-tbody>tr:hover {
  background-color: #f1f1f1 !important;
}

.tabContainer {
  position: relative;
}

.tabContainer>div:nth-child(3) {
  margin-top: 4rem;
}

.filter {
  position: absolute;
  right: 1rem;
  margin-bottom: 3rem;
}

.category_button {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--sec-color);
  background-color: rgba(227, 55, 69, 0.08);
  border: 0.5px solid var(--sec-color);
  padding: 1.3rem 1.5rem;
  font-size: 14px;
  font-weight: 400;
  box-shadow: none;
  width: 8rem;
  border-radius: 0.75rem;
}

.category_button:hover {
  background-color: rgba(227, 55, 69, 0.08) !important;
  border: 0.5px solid var(--sec-color) !important;
  color: var(--sec-color) !important;
}

.category_button svg {
  min-width: 1rem;
  min-height: 1rem;
}