@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Inter";
  font-style: normal;
  margin: 0;
  padding: 0;
}

:root {
  --pri-color: #f15a5c;
  --sec-color: #e33745;
  --bg-color1: #ffffff;
  --bg-color2: #f7f7f7;
  --bg-color3: #f5f7ff;
  --profit-color: #31c059;
  --loss-color: #fe5a5a;
  --pri-gray: #4b4c51;
  --sec-gray: #717171;
  --gray-light: #9a9a9a;
  --gray-lighter: #d9d9d9;
  --pri-black: #000;
  --sec-black: #1d1d1d;
  --text-color: #232323;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  overflow-y: scroll;
  background: var(--bg-color1);
}

.page_container {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; 
}

.subscriberTable .ant-table-thead > tr > th {
  background-color: #F15A5C !important; 
  color: white !important;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.75rem;
  text-align: left;
}